complete/angular/node_modules
complete/angular/dist
complete/angular/public

complete/nativescript/hooks
complete/nativescript/node_modules
complete/nativescript/platforms
complete/nativescript/app/**/*.js

complete/node/node_modules

initial/angular/node_modules
initial/angular/dist
initial/angular/public

initial/nativescript/hooks
initial/nativescript/node_modules
initial/nativescript/platforms
initial/nativescript/app/**/*.js

initial/node/node_modules

.DS_Store*
Thumbs.db
~*